<h2>Resend unlock instructions</h2>
<div class="log-container">
<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: "flabel" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "finput" %>
  </div>

  <div class="actions">
    <%= f.submit "Resend unlock instructions", class: "buttons" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>