<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog App Ruby On Rails</title>
    <%= stylesheet_link_tag 'users_view' %>
  </head>
  <body>
    <div class="user-container">
    <div class="icon-container">
    <div class="user-icon"></div>
    </div>
    <div class="user-details">
    <div class="user-name"><%= @users.name %></div>
    <div class="user-posts">Number Of Posts: <%= @users.post_counter %></div>
    </div>
    </div>
    <div class="user-content">
    <div class="context">Bio <br> <%= @users.bio%></div>
    </div>
    <% @users.most_recent_post.each do |post| %>
      <div class="post-content">
      <%= link_to user_posts_path(@users) do %>
        <div class="ptitle"> Post : <%= post.title%></div>
        <div class="ptext"><%= post.text%></div>
        <div class="pcount">
        Comments: <%= post.comments_counter%>
        Likes: <%= post.likes_counter%>
        </div>
        <% end %>
      </div>
    <% end %>
    <div class="all-posts"><button class="posts-btn">See all posts</button></div>
  </body>
</html>

