  <div class="posts_index_view">
  <h1 class="welcome">Welcome to the Posts Page.<br> Below is the list of Posts By <%= @users.name %></h1>
    <div class="user-container">
    <div class="icon-container">
   <div class="user-icon"><%= image_tag ("#{@users.photo}"), alt: "user icon / profile photo" %></div>
    </div>
    <div class="user-details">
    <div class="user-name"><%= @users.name %></div>
    <div class="user-posts">Number Of Posts: <%= @users.post_counter %></div>
    <div class="link-new-post">
    <%= link_to "Create A New Post", new_user_post_path(@users), class: "new-btn" %>
    </div>
    </div>
    </div>
    <% @posts.each do |post| %>
      <div class="post-content">
      <%= link_to user_post_path(user_id: post.author_id, id: post.id) do %>
        <div class="ptitle"> Post : <%= post.title%> by : <%= @users.name %> </div>
      <% end %>
        <div class="ptext"><%= post.text%></div>
        <div class="pcount">
        Comments: <%= post.comments_counter%>
        Likes: <%= post.likes_counter%>
    </div>
    <% if can? :destroy, post %>
        <%= button_to "Delete Post", user_post_path(post.author.id, post.id), method: :delete, class: "delete-btn" %>
        <% end %>
        </div>
    <div class="comments-container"> 
      <h2 class="ptitle">This is the Comments Section.<br> Below is the list of The Most Recent Comments on the Posts By <%= @users.name %></h2>
     <% post.most_recent_comments.each do |comments| %>
     <div class="comments">
     <div class="comments-context">
     <%= comments.author.name %> :  <%= comments.text %>
     </div>
     </div>
     <% end %>
      </div>
    <% end %>
    <div class="all-posts"><%= link_to "Pagination", user_posts_path(user_id: @users.id), class: "posts-btn" %></div>
  </div>

