  <div class="posts_index_view">
    <div class="user-container">
    <div class="icon-container">
    <div class="user-icon"></div>
    </div>
    <div class="user-details">
    <div class="user-name"><%= @users.name %></div>
    <div class="user-posts">Number Of Posts: <%= @users.post_counter %></div>
    </div>
    </div>
    <% @posts.each do |post| %>
      <%= link_to user_posts_path(user_id: post.author_id, id: post.id) do %>
      <div class="post-content">
        <div class="ptitle"> Post : <%= post.title%></div>
        <div class="ptext"><%= post.text%></div>
        <div class="pcount">
        Comments: <%= post.comments_counter%>
        Likes: <%= post.likes_counter%>
    </div>
        </div>
    <div class="comments-container"> 
     <% post.most_recent_comments.each do |comments| %>
     <div class="comments">
     <div class="comments-context">
     <%= comments.author.name %> :  <%= comments.text %>
     </div>
     </div>
     <% end %>
      <% end %>
      </div>
    <% end %>
  </div>

