<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog App Ruby On Rails</title>
    <%= stylesheet_link_tag 'views_stylesheet' %>
  </head>
  <body>
    <div class="user-container">
    <div class="icon-container">
    <div class="user-icon"></div>
    </div>
    <div class="user-details">
    <div class="user-name"><%= @users.name %></div>
    <div class="user-posts">Number Of Posts: <%= @users.post_counter %></div>
    </div>
    </div>
    <% @posts.all.each do |post| %>
      <div class="post-content">
        <div class="ptitle"> Post : <%= post.title%></div>
        <div class="ptext"><%= post.text%></div>
        <div class="pcount">
        Comments: <%= post.comments_counter%>
        Likes: <%= post.likes_counter%>
        </div>
      </div>
    <% end %>
  </body>
</html>

